## **Librer√≠as**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from pivottablejs import pivot_ui

## **Datos**

In [5]:
df = pd.read_csv('../../data/heart.csv')

In [6]:
df.sample()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0

In [7]:
pivot_ui(df)